body{
    font-family: 'Chewy', cursive;
  }
  
  .row{
    height: 100vh;
    align-items: center;
    background-color: rgba(17, 17, 16, 0.39);
  }

  a{
    text-decoration: none;
  }
  
  .logar{
    
    border-radius: 10px;
  }
  
  .head{
    margin-bottom: 20px;
  }
  .head img{
    border-radius: 10px;
  }
  .head h1{
    color: rgb(241, 111, 64);
  }

  .botao button{
    background-color:  rgb(241, 111, 64);
    padding: 6px 5rem;
  }
  
  .botao a{
    color: black;
  }

  @media(max-width:320px){
  
    .go{
      margin: 0 0 5px;
    }
    
    p.text-center{
      margin:0 0 2px
    }
  
    .mb-3{
      margin: 0 !important;
    }

    .form-group{
        margin: 0 0 5px;
    }

    .form-control{
        font-size: 10px !important;
      }
 
  }
  
  